* {
  margin: 0;
  padding: 0;
  /* font-family: 'Cantarell', sans-serif; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  margin: 0 1rem;
}

a:hover {
  border-bottom: 1px solid black;
}

main {
  height: 100vh;
}

nav {
  height: 60px;
  padding: 0 1.75em;
  justify-content: space-between;
  font-size: 13px;
}

#nav-1,
#footer-4 {
  display: none;
}

nav button {
  font-size: 14px;
  background: #1a73e8;
  color: #f7f7f7;
  border: none;
  padding: 7.5px 22.5px;
  border-radius: 3px;
}

nav ul li,
footer ul li {
  display: inline-block;
}

#apps_icon {
  width: 25px;
}

#apps {
  position: relative;
}

#apps:hover::after {
  content: '';
  height: 35px;
  width: 35px;
  background: #e6e6e6;
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: -1;
  border-radius: 100px;
}

#primary {
  text-align: center;
  padding: 198px 0 0 0;
}

#logo {
  width: 45%;
  max-width: 272px;
}

#inpt_wrapper {
  margin: 22.5px auto 30px auto;
  width: 95%;
  max-width: 583px;
  height: 46px;
  border-radius: 100px;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

#inpt_wrapper:hover {
  box-shadow: 1px 1px 2.5px #ccc;
}

#main_search {
  font-size: 14px;
  border: none;
}

#main_search:focus {
  outline: none;
}

#mag_glass {
  width: 20px;
  margin-right: 13px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  min-height: 50px;
  background: #f7f7f7;
  color: #666;
  padding: 0 2em;
}

#footer-1,
#footer-2,
#footer-3 {
  min-width: 300px;
}

#footer-1 ul,
#footer-3 ul {
  justify-content: center;
}

#footer-2 {
  justify-content: center;
}

#footer-2 img {
  width: 12px;
}

#ctrl_panel button {
  border: none;
  background: #f8f8f8;
  border-radius: 5px;
  height: 34px;
  min-width: 120px;
  font-size: 14.5px;
  color: #555;
  margin: 0 5px 0 5px;
  padding: 0 16px;
  /* font-family: 'Cantarell', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

/* Utility Classes */

.align-center {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* Responsive Styling */
@media screen and (max-width: 420px) {
  #primary {
    padding-top: 5rem;
  }

  #nav-2,
  #gmail,
  #images,
  #footer-1,
  #footer-2 {
    display: none;
  }

  #nav-1,
  #footer-4 {
    display: block;
  }

  nav {
    padding: 0 0.5rem;
    color: #777;
    text-transform: uppercase;
    font-weight: 500;
  }

  footer.align-center {
    display: block;
    padding-bottom: 0.75rem;
  }

  #footer-3 ul,
  #footer-4 ul {
    display: flex;
    justify-content: space-around;
    padding: 1rem 4rem;
  }

  #settings {
    order: 1;
  }
  #privacy {
    order: 2;
  }
  #terms {
    order: 3;
  }
}
